<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CoronaVirus-Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>

<p th:text="${test}">Welcome to our grocery store!</p>

<table>
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total Cases reported</th>
    </tr>
    <tr th:each="locationStat : ${locationStats}">
        <td th:text="${locationStat.getState()}"></td>
        <td th:text="${locationStat.getCountry()}"></td>
        <td th:text="${locationStat.getLatestTotalCases()}">0</td>
    </tr>
</table>

</body>

</html>