<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CoronaVirus-Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
<div style="background-color:cornflowerblue;height: 2cm;text-align: center;">
    <div style="padding:.5cm;">
        <ul class="nav">
            <li class="nav-item" >
                <a class="nav-link" href="#" style="color: aliceblue">Active</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" href="#" style="color: aliceblue">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login" style="color: aliceblue">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" style="color: aliceblue">Disabled</a>
            </li>
            <li>
                <p style="padding-left: 20cm;padding-top: .19cm;">Covid Tracker Notification Services Sign-up</p>
            </li>
            <br>

        </ul>
    </div>
</div>

<div class="container">
<h1>Coronavirus LIVE</h1>
<p>Listing the the Total cases around the globe</p>
    <p>presented by- Aaryan Srivastava</p>

<div class="jumbotron">
    <h1 class="display-4" th:text="${sum}">Total Reported Cases</h1>
    <p class="lead">Total cases reported as of today </p>
    <hr class="my-4">
    <p>
        <span>
            New reported since previous day
        </span>
        <span th:text="${totalnewCases}"></span>
    </p>

    <a href="/safetyCheck">Subscribe to Services</a>
</div>




<table  class="table">
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total Cases reported</th>
        <th>Term difference</th>
    </tr>
    <tr th:each="locationStat : ${locationStats}">
        <td th:text="${locationStat.getState()}"></td>
        <td th:text="${locationStat.getCountry()}"></td>
        <td th:text="${locationStat.getLatestTotalCases()}">0</td>
        <td th:text="${locationStat.getDiffFromPreviousDay()}">0</td>

    </tr>
</table>
</div>
</body>

</html>